@charset "UTF-8";

body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #07e707;
}

h1#principal {
    text-align: center;
}

h2 {
    color: #001d00;
}

.basico {
    color: #ffffff;
}

.intermediario {
    color: #ffff00;
}

.avancado {
    color: #ff0000;
}

.destaque {
    background-color: #525200c7;
}