* {
    margin: 0%;
    padding: 0%;
    box-sizing: 0%;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-family: 'Netflix Sans', 'Helvetica Neue';
}

@font-face {
    font-family: 'Metflix';
    src: url(fonts/NetflixSans-Regular.otf) format('opentype');
}


body {
    background-image: url(asserts/full.png);
    font-size: 1.6rem;
    
}

body > img {
    cursor: pointer;
    width: 180px;
    padding: 5px 40px 20px;
}

section {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.774);
    border-radius: 5px;
    padding: 60px 25px 70px;
    width: 400px;
    margin: auto;
}


h2#titulo {
    text-align: start;
    font-family: 'Metflix';
    color: #ffffff;
    padding: 0px 50px 24px;
    font-size: 35px
}


input{
    padding: 2px 0px 2px;
    width:300px;
    height: 55px;
    border: none;
    background-color: #333333;

}


input#entrar {
    background-color: #ff0000;
    cursor: pointer;
    margin: 24px 0px 12px;
    text-align: center;
    font-size: 17px;
    border: none;
    color: #ffffff;
}

.custon-checkbox input {
    display: none;

}

/*.custon-checkbox input + label::before{
    content: '';
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    display: inline-block;
}*/

/*.custon-checkbox input:checked + label::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
        display: inline-block;
        position: relative;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
}*/

/* Estilize o visual do checkbox personalizado */
.custon-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #000000;
    border: 2px solid #000;
    margin-right: 10px;
    vertical-align: middle;
    transition:  red 0.3s ease;
}

/* Quando o checkbox é marcado, faça o fundo do checkbox personalizado piscar */
.custon-checkbox:checked + label::before {
    animation: blink 1s alternate infinite;
}

/* Defina a animação de piscar */
@keyframes blink {
    0% {
        background-color: #000000;
    }
    100% {
        background-color: #ff0000; /* Pode alterar a cor do piscar conforme desejado */
    }
}

/* input#lb{
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    width: 15px;
    height: 15px;
}

span#ckbox{
    padding-right: 30px;
    color: #8C8C8C;
    font-size: 15.3px;

} */

a#help {
    font-size: 15.3px;
    text-decoration: none;
    color: #8C8C8C;
    padding-left: 16px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;


}

::placeholder {
    padding-left: 25px;
    text-align: start;
    font-size: 17px;
    color: #686868; 
}