@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    background-image: url(../imgs/fundo.jpg);
    background-position: center;
    background-size: auto;
    min-width: 100vh;
    display: flex;
    justify-content: center;
}


.centro {
    margin-top: 3em;
    background-color: #000000da;
    border-radius: 10px;
    width: 30em;
    height: 50em;
    position: relative;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);  
}

.logo {
    width: 10em;
    position: absolute;
    left: 35%;
}


.userArea {    
    position: absolute;
    bottom: 60%;
    left: 15%;
}

.userArea input {
    height: 3em;
    width: 22em;
    border: 0;
    font-size: 15px;
    color: #ffffff;
    background-color: transparent;
    border-bottom: 0.3em solid #ffffff;
    margin-bottom: 3em;
    outline: none;
}

.userArea input:focus {
    animation: click 1s both;
}

.userArea i {
    position: absolute;
    font-size: 1.4em;
    left: 13.8em;
    top: 0.6em;
}




.passArea {    
    position: absolute;
    bottom: 55%;
    left: 15%;
}

.passArea input {
    height: 3em;
    width: 22em;
    border: 0;
    font-size: 15px;
    color: #ffffff;
    background-color: transparent;
    border-bottom: 0.3em solid #ffffff;
    outline: none;
}

.passArea input:focus {
    animation: click 1s both;
}

.passArea i {
    position: absolute;
    font-size: 1.4em;
    left: 13.8em;
    top: 0.5em;
}

.enviar {
    position: absolute;
    bottom: 36%;
    left: 15%;
    cursor: pointer;
    height: 3em;
    width: 25em;
    background-color: #ff1919;
    color: #ffffff;
    border: none;
}

.enviar:hover {
    background-color: #970f0f;
}

.esqueciSenha {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 45%;
    left: 15%;
    font-size: 1em;
    accent-color: #fff;
}

.esqueciSenha a {
    margin-left: 4em;
    text-decoration: none;
    color: #fff;
}

.esqueciSenha a:hover {
    color: #808080;
    text-decoration: underline;
}

.criarConta {
    position: absolute;
    bottom: 30%;
    left: 15%;

}

.criarConta a {
    margin-left: 3em;
    text-decoration: none;
    color: #fff;
}

.criarConta a:hover {
    font-weight: 600;
    text-decoration: underline;
}




@keyframes click {
  0% {
    border-bottom: 0.3em solid #ffffff;
  }

  25% {
    border-bottom: 0.3em solid #ff9595;
    
  }

  50% {
        border-bottom: 0.3em solid #fd6a6a;

  }

  75% {
        border-bottom: 0.3em solid #ff3d3d;
    
  }

  100% {
        border-bottom: 0.3em solid #ff1f1f;
  }
}

@media (max-width: 768px) {
    body {
        position: absolute;
        overflow-x: hidden;
    }

    .centro {
        margin-top: 3em;
        background-color: #000000da;
        border-radius: 10px;
        width: 30em;
        height: 50em;
        position: relative;
        color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);  
    }



}

